@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scale-white: #ffffff;
  --scale-black: #000000;
  --scale-forest-green-100: #bbc9b5;
  --scale-forest-green-200: #9db295;
  --scale-forest-green-300: #829c77;
  --scale-forest-green-400: #6e8863;
  --scale-forest-green-500: #5b7051;
  --scale-forest-green-600: #516549;
  --scale-forest-green-700: #4a5b43;
  --scale-forest-green-800: #41503a;
  --scale-forest-green-900: #3c4a36;
  --scale-forest-green-000: #d9e1d6;
  --scale-sand-100: #fffbf5;
  --scale-sand-200: #fff7eb;
  --scale-sand-300: #fcf4e9;
  --scale-sand-400: #faf0e0;
  --scale-sand-500: #f9ebd7;
  --scale-sand-600: #ede4d4;
  --scale-sand-700: #ecd3ac;
  --scale-sand-800: #e0c59f;
  --scale-sand-900: #cfc6b9;
  --scale-sand-000: #ffffff;
  --scale-teal-100: #e4f1f0;
  --scale-teal-200: #d8e9e8;
  --scale-teal-300: #c7e0de;
  --scale-teal-400: #afd4d1;
  --scale-teal-500: #93c2bf;
  --scale-teal-600: #84aeac;
  --scale-teal-700: #779c9b;
  --scale-teal-800: #6b8e8c;
  --scale-teal-900: #60807e;
  --scale-teal-000: #f2f8f7;
  --scale-charcoal-100: #f1eee9;
  --scale-charcoal-200: #e6e6e5;
  --scale-charcoal-300: #d2d2d0;
  --scale-charcoal-400: #c2baad;
  --scale-charcoal-500: #6e6e6e;
  --scale-charcoal-600: #5b5b57;
  --scale-charcoal-700: #464643;
  --scale-charcoal-800: #393937;
  --scale-charcoal-900: #24292e;
  --scale-charcoal-000: #fafafa;
  --scale-orange-100: #ffe28a;
  --scale-orange-200: #fad24c;
  --scale-orange-300: #fec025;
  --scale-orange-400: #fea325;
  --scale-orange-500: #e77423;
  --scale-orange-600: #cf6920;
  --scale-orange-700: #ba5e1c;
  --scale-orange-800: #a8551a;
  --scale-orange-900: #974c17;
  --scale-orange-000: #fff4d1;
  --scale-marigold-100: #feeecd;
  --scale-marigold-200: #fde1aa;
  --scale-marigold-300: #fcd588;
  --scale-marigold-400: #fbcb6a;
  --scale-marigold-500: #fabd42;
  --scale-marigold-600: #f9c415;
  --scale-marigold-700: #eab506;
  --scale-marigold-800: #b88e05;
  --scale-marigold-900: #957304;
  --scale-marigold-000: #fff8eb;
  --scale-peach-100: #fce5d5;
  --scale-peach-200: #fad9c1;
  --scale-peach-300: #f8c6a5;
  --scale-peach-400: #f6b184;
  --scale-peach-500: #f4a26c;
  --scale-peach-600: #f29050;
  --scale-peach-700: #f07e33;
  --scale-peach-800: #e46511;
  --scale-peach-900: #be540e;
  --scale-peach-000: #fef3ec;
  --scale-red-100: #fee1e1;
  --scale-red-200: #fec8c8;
  --scale-red-300: #fca6a6;
  --scale-red-400: #f87272;
  --scale-red-500: #ef4343;
  --scale-red-600: #dc2828;
  --scale-red-700: #ba1c1c;
  --scale-red-800: #981b1b;
  --scale-red-900: #811d1d;
  --scale-red-000: #fdf0f0;
  --scale-green-100: #defce9;
  --scale-green-200: #bbf7d0;
  --scale-green-300: #85efac;
  --scale-green-400: #4ade80;
  --scale-green-500: #21c45d;
  --scale-green-600: #16a249;
  --scale-green-700: #157f3c;
  --scale-green-800: #166434;
  --scale-green-900: #14522d;
  --scale-green-000: #f2fdf5;
  --scale-purple-100: #f2eafd;
  --scale-purple-200: #e8dbfb;
  --scale-purple-300: #ddcbf9;
  --scale-purple-400: #d2b9f7;
  --scale-purple-500: #c4a4f5;
  --scale-purple-600: #b58cf2;
  --scale-purple-700: #a16eef;
  --scale-purple-800: #8643ea;
  --scale-purple-900: #5019a3;
  --scale-purple-000: #fbf8fe;
  --scale-blue-100: #dff0fb;
  --scale-blue-200: #c7e5f9;
  --scale-blue-300: #add9f6;
  --scale-blue-400: #8fcbf3;
  --scale-blue-500: #6cbbef;
  --scale-blue-600: #42a8ea;
  --scale-blue-700: #218fd8;
  --scale-blue-800: #1a71ab;
  --scale-blue-900: #0f4365;
  --scale-blue-000: #eff6ff;
  --scale-neutral-100: #f7f8f9;
  --scale-neutral-200: #f1f2f4;
  --scale-neutral-300: #dcdfe4;
  --scale-neutral-400: #b3b9c4;
  --scale-neutral-500: #8993a5;
  --scale-neutral-600: #758195;
  --scale-neutral-700: #626f86;
  --scale-neutral-800: #44546f;
  --scale-neutral-900: #2c3e5d;
  --scale-neutral-1000: #172b4d;
  --scale-neutral-1100: #091e42;
  --scale-neutral-000: #ffffff;
  --scale-neutral-alpha-100: #091e4208;
  --scale-neutral-alpha-200: #091e420f;
  --scale-neutral-alpha-300: #091e4324;
  --scale-neutral-alpha-400: #091e434f;
  --scale-neutral-alpha-500: #091e437a;
  --scale-neutral-alpha-000: #ffffff00;
  --text-default: #24292e;
  --text-subtle: #464643;
  --text-subtlest: #6e6e6e;
  --text-danger: #ef4343;
  --text-discovery: #b58cf2;
  --text-information: #42a8ea;
  --text-warning-default: #b88e05;
  --text-warning-inverse: #24292e;
  --text-accent-neutral: #464643;
  --text-accent-bold: #5b7051;
  --text-accent-subtle: #5b7051;
  --text-accent-forest-green-default: #5b7051;
  --text-accent-forest-green-bolder: #41503a;
  --text-accent-orange-default: #cf6920;
  --text-accent-orange-bolder: #a8551a;
  --text-accent-teal-default: #84aeac;
  --text-accent-teal-bolder: #6b8e8c;
  --text-accent-peach-default: #f29050;
  --text-accent-peach-bolder: #e46511;
  --text-accent-charcoal-default: #5b5b57;
  --text-accent-charcoal-bolder: #393937;
  --text-accent-sand-default: #ede4d4;
  --text-accent-sand-bolder: #e0c59f;
  --text-accent-marigold-default: #f9c415;
  --text-accent-marigold-bolder: #b88e05;
  --text-accent-green-default: #16a249;
  --text-accent-green-bolder: #166434;
  --text-accent-blue-default: #42a8ea;
  --text-accent-blue-bolder: #1a71ab;
  --text-accent-red-default: #dc2828;
  --text-accent-red-bolder: #981b1b;
  --text-accent-purple-default: #b58cf2;
  --text-accent-purple-bolder: #8643ea;
  --text-sucess: #16a249;
  --text-inverse: #f9ebd7;
  --text-link-default: #e77423;
  --text-link-hovered: #ba5e1c;
  --surface-default: #f9ebd7;
  --surface-raised: #ecd3ac;
  --border-default: #d2d2d0;
  --border-subtle: #e6e6e5;
  --border-subtlest: #f1eee9;
  --border-danger: #ef4343;
  --border-success: #21c45d;
  --border-information: #93c2bf;
  --border-discovery: #c4a4f5;
  --border-warning: #fabd42;
  --border-focused: #8fcbf3;
  --border-input: #091e4324;
  --border-disabled: #091e420f;
  --border-brand: #516549;
  --border-selected: #42a8ea;
  --border-accent-blue: #6cbbef;
  --border-accent-red: #ef4343;
  --border-accent-orange: #e77423;
  --border-accent-marigold: #fabd42;
  --border-accent-green: #21c45d;
  --border-accent-forest-green: #5b7051;
  --border-accent-purple: #c4a4f5;
  --border-accent-teal: #93c2bf;
  --border-accent-peach: #f4a26c;
  --background-disabled: #091e420f;
  --background-accent-blue-subtlest: #eff6ff;
  --background-accent-blue-subtler: #dff0fb;
  --background-accent-blue-subtle: #c7e5f9;
  --background-accent-blue-bolder: #42a8ea;
  --background-accent-red-subtlest: #fdf0f0;
  --background-accent-red-subtler: #fee1e1;
  --background-accent-red-subtle: #fca6a6;
  --background-accent-red-bolder: #ba1c1c;
  --background-accent-orange-subtlest: #fff4d1;
  --background-accent-orange-subtler: #ffe28a;
  --background-accent-orange-subtle: #fec025;
  --background-accent-orange-bolder: #cf6920;
  --background-accent-marigold-subtlest: #fff8eb;
  --background-accent-marigold-subtler: #feeecd;
  --background-accent-marigold-subtle: #fbcb6a;
  --background-accent-marigold-bolder: #f9c415;
  --background-accent-green-subtlest: #f2fdf5;
  --background-accent-green-subtler: #defce9;
  --background-accent-green-subtle: #4ade80;
  --background-accent-green-bolder: #16a249;
  --background-accent-forest-green-subtlest: #d9e1d6;
  --background-accent-forest-green-subtler: #bbc9b5;
  --background-accent-forest-green-subtle: #6e8863;
  --background-accent-forest-green-bolder: #516549;
  --background-accent-teal-subtlest: #f2f8f7;
  --background-accent-teal-subtler: #e4f1f0;
  --background-accent-teal-subtle: #afd4d1;
  --background-accent-teal-bolder: #84aeac;
  --background-accent-purple-subtlest: #fbf8fe;
  --background-accent-purple-subtler: #f2eafd;
  --background-accent-purple-subtle: #d2b9f7;
  --background-accent-purple-bolder: #b58cf2;
  --background-accent-peach-subtlest: #fef3ec;
  --background-accent-peach-subtler: #fce5d5;
  --background-accent-peach-subtle: #f6b184;
  --background-accent-peach-bolder: #f29050;
  --background-inverse-subtle-default: #00000029;
  --background-inverse-subtle-hovered: #0000003d;
  --background-inverse-subtle-pressed: #00000052;
  --background-input-default: #ffffff;
  --background-input-hovered: #f7f8f9;
  --background-input-pressed: #ffffff;
  --background-neutral-default: #091e420f;
  --background-neutral-default-hovered: #091e4324;
  --background-neutral-default-pressed: #091e434f;
  --background-neutral-subtle-default: #00000000;
  --background-neutral-subtle-hovered: #091e420f;
  --background-neutral-subtle-pressed: #091e4324;
  --background-neutral-bold-default: #44546f;
  --background-neutral-bold-hovered: #2c3e5d;
  --background-neutral-bold-pressed: #172b4d;
  --background-brand-bold-default: #42a8ea;
  --background-brand-bold-hovered: #218fd8;
  --background-brand-bold-pressed: #09326c;
  --background-selected-default: #eff6ff;
  --background-selected-default-hovered: #dff0fb;
  --background-selected-default-pressed: #c7e5f9;
  --background-selected-bold-default: #42a8ea;
  --background-selected-bold-hovered: #218fd8;
  --background-selected-bold-pressed: #1a71ab;
  --background-danger-default: #fdf0f0;
  --background-danger-default-hovered: #fee1e1;
  --background-danger-default-pressed: #fec8c8;
  --background-danger-bold-default: #dc2828;
  --background-danger-bold-hovered: #ba1c1c;
  --background-danger-bold-pressed: #981b1b;
  --background-warning-default: #fff8eb;
  --background-warning-default-hovered: #feeecd;
  --background-warning-default-pressed: #feeecd;
  --background-warning-bold-default: #fcd588;
  --background-warning-bold-hovered: #fbcb6a;
  --background-warning-bold-pressed: #fabd42;
  --background-success-default: #f2fdf5;
  --background-success-default-hovered: #defce9;
  --background-success-default-pressed: #bbf7d0;
  --background-success-bold-default: #16a249;
  --background-success-bold-hovered: #157f3c;
  --background-success-bold-pressed: #166434;
  --background-discovery-default: #fbf8fe;
  --background-discovery-default-hovered: #f2eafd;
  --background-discovery-default-pressed: #e8dbfb;
  --background-discovery-bold-default: #b58cf2;
  --background-discovery-bold-hovered: #a16eef;
  --background-discovery-bold-pressed: #8643ea;
  --background-information-default: #eff6ff;
  --background-information-default-hovered: #dff0fb;
  --background-information-default-pressed: #c7e5f9;
  --background-information-bold-default: #42a8ea;
  --background-information-bold-hovered: #218fd8;
  --background-information-bold-pressed: #1a71ab;
  --icon-default: #393937;
  --icon-subtle: #464643;
  --icon-inverse: #fafafa;
  --icon-disabled: #6e6e6e;
  --icon-brand: #516549;
  --icon-selected: #cf6920;
  --icon-danger: #ef4343;
  --icon-success: #21c45d;
  --icon-discovery: #c4a4f5;
  --icon-information: #6cbbef;
  --icon-accent-blue: #6cbbef;
  --icon-accent-red: #ef4343;
  --icon-accent-orange: #e77423;
  --icon-accent-marigold: #fabd42;
  --icon-accent-green: #21c45d;
  --icon-accent-forest-green: #5b7051;
  --icon-accent-purple: #c4a4f5;
  --icon-accent-teal: #93c2bf;
  --icon-accent-peach: #f4a26c;
  --icon-warning-default: #fabd42;
  --icon-warning-inverse: #393937;
  --link-default: #cf6920;
  --link-pressed: #ba5e1c;
  --shadow-raised: 0px 1px 1px 0px #091e4240, 0px 0px 1px 0px #091e424f;
  --shadow-overflow: 0px 8px 8px 0px #091e4214, 0px 0px 1px 0px #091e421f;
  --shadow-overlay: 0px 8px 12px 0px #091e4226, 0px 0px 1px 0px #091e424f,
    0px 0px 1px 0px #03040480;
}
